body {
    height: auto;
    min-height: 100vh;
}

.navbar-pf {
    background: #095797;
    border: 0;
    font-size: 12px;
}

.navbar-header{
    border: 0;
    color: #fff;
    font-size: 14px;
}

.navbar-header .text{
    font-size: 14px;
}

.navbar-title {
    background-image: url(../img/QUEBEC_blanc.svg);
    height: 75.13px;
    background-repeat: no-repeat;
    width: 250px;
    margin: 3px 10px 5px;
    text-indent: -99999px;
}

.navbar-pf .navbar-utility, .navbar-pf .navbar-utility>li>a {
    font-size: 12px;
}

.kc-dropdown > a{
    line-height: 12px;
    font-size: 12px;
}

.content-area {
    border-width: 0 1px 1px 1px;
    padding-bottom: 3px;
    height: auto;
    min-height: 85vh;
}

.page-footer {
    background: #ffffff;
}